body {
    background-color: #74A6D5;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    background-color: #A6D574;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-bottom: white 2px solid;
    /* padding: 8px; */
    text-align: center;
}

section {
    background-color: #D574A6;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border: white 2px solid;
    border-top: 0px;
}

p {
    padding: 18px;
}

#toptext {
    font-size: 3em;
    font-weight: bolder;
    position: relative;
    top: 8px;
}

button {
    width: 100%;
    background-color: #D574A6;
    /* height: 40px; */
    border: 2px solid white;
    border-radius: 0;
    margin: 4px;
    font-size: inherit;
    padding: 5px;
}

button:hover {
    background-color: #74A6D5;
    margin-left: 0px;
}

@media (max-width: 600px) {
    section {
        width: 95%;
    }
}

#main-text {
    font-size: 1.5em;
}